<IfModule mod_rewrite.c>

    RewriteEngine On
	
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP:X-Forwarded-SSL} !on
	RewriteCond %{HTTP_HOST} ^zent\.fun$ [OR]
	RewriteCond %{HTTP_HOST} ^www\.zent\.fun$
	RewriteRule ^(.*)$ "https\:\/\/zent\.fun\/$1" [R=301,L]

</IfModule>
